@model WebApplication33333.Faculty

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Faculty</h4>
<hr />
<div class="row">
    
    
    

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Faculty1" class="control-label">Название факультета</label>
                <input asp-for="Faculty1" class="form-control" />
                <span asp-validation-for="Faculty1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label">группа</label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfAdmission" class="control-label">год постпуления</label>
                <input asp-for="YearOfAdmission" class="form-control" />
                <span asp-validation-for="YearOfAdmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label">Idгруппы</label>
                <input asp-for="GroupId" class="form-control" />
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к таблице</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
