@model WebApplication33333.GiftedGrant 


<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Номер студенческого</label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GrantName" class="control-label">Название стипендии</label>
                <select asp-for="GrantName" class="form-control" asp-items="ViewBag.GrantName"></select>
            </div>
            <div class="form-group">
                <label asp-for="GrantValue" class="control-label">Сумма стипендии</label>
                <input asp-for="GrantValue" class="form-control" />
                <span asp-validation-for="GrantValue" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к таблице</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
Итог