@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <a href="@Url.Action("index", "Faculties")" class="btn">Группы и факультеты</a>
    <a href="@Url.Action("index", "Students")" class="btn">Студенты</a>
    <a href="@Url.Action("index", "GiftedGrants")" class="btn">выданные стипендии</a>
    <a href="@Url.Action("index", "Grantsinfoes")" class="btn">информация о стипендиях</a>

</div>
